<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="grid">
            <div class="board"></div>
            <form action="/game" method="post">
                <button type="submit" value="bet">bet</button>
                <button type="submit" value="check">check</button>
                <button type="submit" value="call">call</button>
                <button type="submit" value="fold">fold</button>
            </form>
        </div>
    </div>
</body>
</html>